# Theory Questions:

1. What are data structures, and why are they important?
-   Data structures are ways to organize and store data efficiently. They are important because they enable efficient access, manipulation, and management of data, which is crucial for building effective algorithms and software.

2. Explain the difference between mutable and immutable data types with examples.
-  Mutable data types can be changed after they are created (e.g., lists, dictionaries, sets). Immutable data types cannot be changed after creation; any operation that seems to modify them actually creates a new object (e.g., strings, tuples, numbers).

3. What are the main differences between lists and tuples in Python?
- Lists are mutable and are typically used for collections of items that might need to be modified. Tuples are immutable and are often used for fixed collections of related items. Lists use square brackets [], while tuples use parentheses ().

4. Describe how dictionaries store data.
-  Dictionaries store data as key-value pairs. Each key is unique and is used to access its corresponding value. This allows for efficient data retrieval based on the key.

5. Why might you use a set instead of a list in Python?
- You might use a set when you need to store a collection of unique elements and when the order of elements does not matter. Sets provide efficient membership testing and allow for set operations like union, intersection, and difference.

6.  What is a string in Python, and how is it different from a list?
-  A string is a sequence of characters used to represent text. It is immutable. A list is an ordered, mutable sequence of items that can be of any data type.

7. How do tuples ensure data integrity in Python?
- Tuples ensure data integrity because they are immutable. Once a tuple is created, its elements cannot be changed, added, or removed, ensuring that the data remains constant throughout the program.

8.  What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that uses a hash function to map keys to indices in an array, allowing for efficient average-case time complexity for operations like insertion, deletion, and retrieval. Python dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python?
- Yes, Python lists are heterogeneous and can contain elements of different data types (e.g., integers, strings, booleans) within the same list.

10. Explain why strings are immutable in Python.
- Strings are immutable for several reasons, including efficiency (allowing for memory optimizations) and data integrity (ensuring that a string's value remains consistent). When you perform an operation that seems to modify a string, you are actually creating a new string object.

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer faster data retrieval (average O(1) time complexity) when you know the key, compared to lists where you might have to iterate to find an element (O(n) time complexity). Dictionaries are also more suitable for representing data with labeled fields.

12.  Describe a scenario where using a tuple would be preferable over a list.
- Using a tuple would be preferable when you have a collection of items that should not be modified, such as representing coordinates (x, y), RGB color values (r, g, b), or when using a sequence as a key in a dictionary (since list are not hashable).

13. How do sets handle duplicate values in Python?
- Sets in Python automatically handle duplicate values by only storing one instance of each unique element. If you try to add a duplicate value to a set, it will simply be ignored.

14. How does the "in" keyword work differently for lists and dictionaries?
-   For lists, the "in" keyword checks if a value exists within the list by potentially iterating through its elements (O(n) on average). For dictionaries, the "in" keyword checks if a key exists in the dictionary's keys (O(1) on average due to the hash table implementation).

15. Can you modify the elements of a tuple? Explain why or why not.
-  No, you cannot modify the elements of a tuple after it is created because tuples are immutable data types in Python. This immutability is a fundamental property of tuples.

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary where the values associated with keys are themselves dictionaries. An example use case is representing structured data like configuration settings where sections and subsections can be naturally represented.

17. Describe the time complexity of accessing elements in a dictionary.
-  The average-case time complexity of accessing elements (values) in a dictionary using their keys is O(1) (constant time) due to the underlying hash table implementation. In the worst case (e.g., hash collisions), it can degrade to O(n).

18. In what situations are lists preferred over dictionaries?
-   Lists are preferred when you need an ordered sequence of items, the order of elements is significant, you might have duplicate elements, and you primarily access elements by their index.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- In Python versions before 3.7, dictionaries were generally considered unordered, meaning the order in which items were inserted was not guaranteed to be preserved. This affected retrieval if you relied on a specific insertion order. However, starting with Python 3.7, dictionaries remember the insertion order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- In a list, you typically retrieve data by its numerical index (position). In a dictionary, you retrieve data by its unique key. Dictionaries offer faster average-case retrieval based on keys compared to the potentially linear search required in lists (if you don't know the index).

# Practical Questions:

1. Write a code to create a string with your name and print it.

In [ ]:
  name = "Charu Sharma"
print(name)

Charu Sharma

2. Write a code to find the length of the string " Hello World ".

In [ ]:
string = " Hello World "
length = len(string)
print(length)

13

3. Write a code to slice the first 3 characters from the string " Python Programming ".

In [ ]:
 string = " Python Programming "
sliced_string = string[:3]
print(sliced_string)

 Py

4. Write a code to convert the string ' hello ' to uppercase.

In [ ]:
string = ' hello '
uppercase_string = string.upper()
print(uppercase_string)

 HELLO

5. Write a code to replace the word " apple " with " orange " in the string ' I like apple " .

In [ ]:
string = ' I like apple '
new_string = string.replace("apple", "orange")
print(new_string)

 I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
  numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [ 1 , 2 , 3 , 4 ].

In [24]:
  my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [ 1 , 2 , 3 , 4 , 5 ].

In [23]:
  my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9.  Write a code to access the second element in the list [ ' a ' , ' b ' , ' c ' , ' d ' ].

In [22]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

10. Write a code to reverse the list [ 10 , 20 , 30 , 40 , 50 ].

In [21]:
  my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [20]:
  my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [19]:
   my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print(second_to_last)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [18]:
  my_tuple = (10, 20, 5, 15)
minimum = min(my_tuple)
print(minimum)

5

14. Write a code to find the index of the element 'cat' in the tuple ('dog', 'cat', 'rabbit').

In [17]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

15. Write a code to create a tuple containing three different fruits and check if 'kiwi' is in it.

In [16]:
   fruits = ('apple', 'banana', 'orange')
is_kiwi_present = 'kiwi' in fruits
print(is_kiwi_present)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [15]:
 my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [14]:
 my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [13]:
  my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [12]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [11]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [10]:
my_dict = {"name": "John", "age": 30, "city": "New York"}
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [9]:
 my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [8]:
 my_dict = {'name': 'Alice', 'age': 30}
name = my_dict["name"]
print(name)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [7]:
 my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [6]:
 my_dict = {'name': 'Alice', 'city': 'Paris'}
is_city_present = "city" in my_dict
print(is_city_present)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [5]:
 my_list = [1, "hello", True]
my_tuple = (3.14, False)
my_dict = {"key": "value", 1: 10}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 'hello', True]
Tuple: (3.14, False)
Dictionary: {'key': 'value', 1: 10}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [26]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[1, 31, 39, 40, 58]

28. Write a code to create a list with strings and print the element at the third index.

In [3]:
  string_list = ["apple", "banana", "cherry", "date", "elderberry"]
third_element = string_list[2]
print(third_element)

cherry

29. Write a code to combine two dictionaries into one and print the result.

In [2]:
  dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = dict1.copy()  # Start with a copy of the first dictionary
combined_dict.update(dict2)   # Update it with the key-value pairs from the second
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [1]:
 string_list = ["apple", "banana", "apple", "cherry"]
my_set = set(string_list)
print(my_set)

{'apple', 'banana', 'cherry'}